:root {
  --tohseno-void: #050505;
  --tohseno-carbon: #0d0d0e;
  --tohseno-graphite: #19191a;
  --tohseno-iron: #2b2b2d;
  --tohseno-ash: #686964;
  --tohseno-silver: #a7a8a2;
  --tohseno-bone: #f1ede4;
  --tohseno-chemical-amber: #ff5a00;
  --tohseno-ember: #351607;
}
