<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>TOHSENO</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.tohseno.companion.pairing</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tohseno</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Attach screenshots to describe what should change.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_tohseno._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Connect to the private TOHSENO relay running on your Mac for development pairing.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Attach screenshots to describe what should change.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Speak the app or change you want TOHSENO to make.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Turn your spoken intent into text before you send it to your Mac.</string>
	<key>TOHSENOVerificationRelayOrigin</key>
	<string>$(TOHSENO_VERIFICATION_RELAY_ORIGIN)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
